* {
	font-size:1.1em;
}
html {
	background-color:yellow;
	background: url('http://saga-tech.ru/images/fon/backgroun22d3.jpg') 
	no-repeat center top;

	}
#colorname {color:green}
h1#example:first-letter {color: red}
.href {
	color:gray;
	text-decoration: underline;
}

.href:active {
	color:pink;
	}
	#textstyles:hover {
		background-color:green;
	}
	#textstyles {
		font-weight:normal;
		font-family:Comic Sans MS;
		text-align: center;
		word-spacing: 10px;
		letter-spacing: 3px;
	}

